<md-card>
<md-tab-group color="primary">
  
   <md-tab color="primary" label="Personal Info">
     <div style="margin: 10px;">
          <md-select color="primary" placeholder="Options">
      <md-option color="primary">Hello</md-option>
    </md-select>
      <button md-raised-button color="primary">PRIMARY RAISED</button>
     </div>
  
  </md-tab>
   <md-tab label="Food Preferences">
    Test
  </md-tab>
</md-tab-group>
</md-card>
<md-card>
  <md-checkbox>Unchecked</md-checkbox>
  <md-checkbox [checked]="true">Checked</md-checkbox>
  <md-checkbox [indeterminate]="true">Indeterminate</md-checkbox>
  <md-checkbox [disabled]="true">Disabled</md-checkbox>
</md-card>

