<md-card>
  <md-tab-group>
    <md-tab label="Personal Info">

      <row>
        <column sm="12" center>
          <md-input-container>
            <input color="accent" md-input [(ngModel)]="nickname" placeholder="First Name" maxlength="25">
            <md-hint *ngIf="nickname" align="end">
              {{nickname.length}} / 25
            </md-hint>
          </md-input-container>
          <md-input-container>
            <input md-input placeholder="Last Name">
          </md-input-container>
        </column>
      </row>

      <row>
          <column sm="12" center>
           <md-input-container>
             <span md-prefix style="margin-right: 2px;">
              <i class="material-icons app-input-icon">phone</i>
            </span>
            <input type="tel" md-input placeholder="Phone Number">
          </md-input-container>
        </column>
      </row>
    </md-tab>

    <md-tab color="red"  label="Food Preferences">
      <row>
        <column *ngFor="let pref of preferences" xs="6" sm="4" lg="4">
          <app-preference color="primary" [title]="pref.title" [options]="pref.options"></app-preference>
        </column>
       
      </row>
    <row>
      <column xs="12" center>
        <button md-raised-button color="primary">Update Preferences</button>
      </column>
    </row>
    </md-tab>
  </md-tab-group>
</md-card>

  <!--<md-select color="primary" placeholder="Options">
    <md-option>Hello</md-option>
    <md-option color="primary">Hello</md-option>
  </md-select>-->